.page-content {
  margin-left: 230px;          /* pushes away from sidebar */
  height: 100vh;               /* full height */
  overflow-y: auto;            /* enables scrolling */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
}

.users-page {
  padding: 20px 40px;
  padding-top: 90px;           /* space under navbar */
}
.add-user-container {
  padding: 20px 40px;

  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
  }
}

.add-user-form {
  background: #f3f9fc;
  padding: 25px;
  border-radius: 10px;

  .row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }

  .field {
    width: 50%;
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
      margin-bottom: 8px;
    }

    input, select {
      padding: 12px 15px;
      border-radius: 25px;
      border: 1px solid #bcd7e3;
      background: #fff;
    }
  }
}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;

  .cancel-btn {
    background: #ff6f7e;
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    color: white;
  }

  .add-btn {
    background: #0b5463;
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    color: white;
  }
}
