.page-content {
  margin-left: 230px;          /* pushes away from sidebar */
  height: 100vh;               /* full height */
  overflow-y: auto;            /* enables scrolling */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
}

.users-page {
  padding: 20px 40px;
  padding-top: 90px;           /* space under navbar */
}
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

/* Align items on the right */
.right-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #bcd7e3;
  padding: 6px 12px;
  border-radius: 25px;
  height: 32px;

  input {
    border: none;
    outline: none;
    font-size: 13px;
    width: 180px;
  }

  i {
    color: #6a8291;
    font-size: 14px;
  }
}

/* FILTER BOX */
.filter-box {
  background: #ffffff;
  border: 1px solid #bcd7e3;
  padding: 6px 12px;
  border-radius: 25px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  span {
    font-size: 13px;
    color: #4b6978;
  }

  i {
    color: #6a8291;
    font-size: 14px;
  }
}

/* ADD USER BUTTON (smaller version) */
.add-user-btn {
  background: #387dad;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 25px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 32px;
}

}

/* TABLE DESIGN */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;

  thead {
    background: #85b9d8;
    color: white;

    th {
      padding: 15px 10px;
      text-align: left;
      font-size: 14px;
    }
  }

  tbody tr {
    background: #f9fbfc;
    border-bottom: 1px solid #e0ebf2;

    &:hover {
      background: #eef6fc;
    }

    td {
      padding: 14px 10px;
      font-size: 14px;
    }
  }
}

/* ACTIVE / INACTIVE STATUS */
.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}

.details-btn {
  background: #0a5c63;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
