<div class="books-page">


  <!-- DETAILS -->
  <div class="book-details-container" *ngIf="!loading && livre">

    <!-- Header -->
    <div class="header">
      <div class="action-buttons">

        <!-- Normal mode -->
        <ng-container *ngIf="!edit">
          <button class="delete-btn" (click)="onDelete()" [disabled]="saving">
            <i class="fa-solid fa-trash"></i> Delete
          </button>

          <button class="update-btn" (click)="enableEdit()" [disabled]="saving">
            <i class="fa-solid fa-pen"></i> Update
          </button>
        </ng-container>

        <!-- Edit mode -->
        <ng-container *ngIf="edit">
          <button class="update-btn" (click)="saveEdit()" [disabled]="saving">
            <i class="fa-solid fa-check"></i> Save
          </button>

          <button class="delete-btn" (click)="cancelEdit()" [disabled]="saving">
            <i class="fa-solid fa-xmark"></i> Cancel
          </button>
        </ng-container>

      </div>
    </div>

    <!-- Content -->
    <div class="details-box">

      <!-- LEFT -->
      <div class="cover-section">
        <img [src]="'http://localhost:8760/' + livre.image" alt="book cover" />
      </div>

      <!-- RIGHT -->
      <div class="info-section">

        <div class="row">
          <div class="field">
            <label>Title</label>
            <input type="text" [(ngModel)]="form.titre" [disabled]="!edit">
          </div>

          <div class="field">
            <label>Category</label>
            <input type="text" [(ngModel)]="form.category" [disabled]="!edit">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <label>Author</label>
            <input type="text" [(ngModel)]="form.auteur" [disabled]="!edit">
          </div>

          <div class="field">
            <label>Number Of Copies</label>
            <input type="number" [(ngModel)]="form.nombreCopies" [disabled]="!edit">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <label>ISBN</label>
            <input type="text" [(ngModel)]="form.isbn" [disabled]="!edit">
          </div>

          <div class="field">
            <label>Acquisition Date</label>
            <input type="date" [(ngModel)]="form.datePublication" [disabled]="!edit">
          </div>
        </div>

        <div class="description-field">
          <label>Description</label>
          <textarea rows="3" [(ngModel)]="form.description" [disabled]="!edit"></textarea>
        </div>

      </div>
    </div>
  </div>

</div>
