
        <!-- Books Page Layout -->
        <div class="books-page">
            <div class="add-title-container">
                <h2>Add a new Title</h2>
                <form class="add-book-form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">

                    <!-- LEFT COLUMN -->
                    <div class="form-left">

                        <label>Title*</label>
                        <input type="text" formControlName="titre" placeholder="Enter Title">

                        <label>Author*</label>
                        <input type="text" formControlName="auteur" placeholder="Enter The Author's Name">

                        <label>ISBN*</label>
                        <input type="text" formControlName="isbn" placeholder="Enter ISBN">

                        <label>Book Cover Image*</label>
                        <div class="upload-box" (click)="fileInput.click()">
                            <input type="file" hidden #fileInput (change)="onFileSelected($event)">

                            <ng-container *ngIf="!imagePreview">
                                <p>Drag and drop files here, or click to browse</p>
                                <button type="button">Browse Files</button>
                            </ng-container>

                            <img *ngIf="imagePreview" [src]="imagePreview" class="preview-img">
                        </div>


                    </div>

                    <!-- RIGHT COLUMN -->
                    <div class="form-right">

                        <label>Category*</label>
                        <select formControlName="category">
                            <option value="">Select</option>
                            <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
                        </select>

                        <label>Number Of Copies*</label>
                        <input type="number" formControlName="nombreCopies">

                        <label>Acquisition Date*</label>
                        <input type="date" formControlName="dateAcquisition">

                        <label>Description*</label>
                        <textarea formControlName="description"></textarea>

                    </div>

                </form>

                <!-- BUTTONS -->
                <div class="actions">
                    <button class="cancel-btn" (click)="cancel()">Cancel</button>
                    <button class="add-btn" (click)="onSubmit()">Add The Book</button>
                </div>
            </div>
        </div>