

.books-page {
  padding: 20px 40px;
  padding-top: 90px;           /* space under navbar */
}

.add-title-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: transparent;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.add-book-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.form-left, .form-right {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  color: #333;
}

input, select, textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid #bcd7e3;
  background: #fff;
  outline: none;
  font-size: 14px;
}

textarea {
  height: 180px;
  resize: none;
  border-radius: 15px;
}

.upload-box {
  border: 2px dashed #8ab3c7;
  padding: 40px 20px;
  text-align: center;
  border-radius: 12px;
  background: #f5fbff;
}

.upload-box p {
  margin-bottom: 15px;
  color: #4a7080;
  font-size: 15px;
}

.upload-box button {
  background: #0b5463;
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 25px;
  cursor: pointer;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cancel-btn {
  background: #ff6f7e;
  color: white;
  padding: 12px 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.add-btn {
  background: #074f59;
  color: white;
  padding: 12px 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 160px;   // fixed height
}

.preview-img {
  max-width: 120px;    //  limit width
  max-height: 160px;   //  limit height
  object-fit: contain; // keep aspect ratio
  border-radius: 4px;
}
