
.users-page {
  padding: 20px 40px;
  padding-top: 90px;           /* space under navbar */
}


.header {
  display: flex;
  justify-content: space-between;
  height: 33px;

  h2 {
    font-size: 24px;
  }

  .btns {
    display: flex;
    gap: 15px;
  }

  .delete-btn {
    background: #ff6f7e;
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
    border: none;
  }

  .update-btn {
    background: #e4d58b;
    padding: 10px 25px;
    color: #333;
    border-radius: 20px;
    border: none;
  }
}

.details-box {
  padding: 25px;
  margin-top: 20px;
  border-radius: 10px;
}

.info .row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.field {
  width: 50%;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 6px;
    font-weight: bold;
  }

  input {
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #bcd7e3;
  }
}
